<script>
    function show_graphs(btn)
    {
        let chart_1 = document.getElementById("chart_1");
        let chart_2 = document.getElementById("chart_2");
        let chart_3 = document.getElementById("chart_3");
        if (btn.innerHTML === "Вес")
        {
            chart_1.classList.remove('hide');
            chart_2.classList.add('hide');
            chart_3.classList.add('hide');
            btn.innerHTML = "Обхват бедра";
        }
        else if (btn.innerHTML === "Обхват бедра")
        {
            chart_1.classList.add('hide');
            chart_2.classList.remove('hide');
            chart_3.classList.add('hide');
            btn.innerHTML = "Обхват бицепса";
        }
        else if (btn.innerHTML === "Обхват бицепса")
        {
            chart_1.classList.add('hide');
            chart_2.classList.add('hide');
            chart_3.classList.remove('hide');
            btn.innerHTML = "Вес";
        }
    }
</script>
<style>
    .hide {
        display: none !important
    }
</style>
<div class="container">
    <section id="page-4" class="page">
        <div class="chart" id="chart_1">
            <h3 class="text-center title-lg">Вес</h3>
            {% include 'measurement/graphs/graph_weight.svg' %}
        </div>

        <div class="chart hide" id="chart_2">
            <h1 class="text-center title-lg">Обхват бедра</h1>
            {% include 'measurement/graphs/graph_hip.svg' %}
        </div>

        <div class="chart hide" id="chart_3">
            <h3 class="text-center title-lg">Обхват бицепса</h3>
            {% include 'measurement/graphs/graph_biceps.svg' %}
        </div>
        <button class="button button-yellow mt-4 ml-5" onclick="show_graphs(this)">Обхват бедра</button>
    </section>
</div>